{% extends "groups/group_base.html" %}


	{% block pregroup %}
	<div class="container">
				
		<h1>{{group.name}}</h1>
		{% if group.approved_group %}

				<h2> Member Count: {{group.members.count}}</h2>
			
				<div class="content">
				{% if user in group.members.all %}
					<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-warning d-grid col-4"><span class="fa fa-times-circle-o"></span> Leave</a>
				{% else %}
				<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-warning d-grid col-4"><span class="fa fa-check-circle-o"></span> Join</a>
				{% endif %}
		
		
				</div>
				{% if user.is_authenticated and group.admin == user and not hide_delete %}
				<a class="btn btn-danger my-4 d-grid col-4 p-3" href="{% url 'groups:group_delete' pk=group.pk %}">Delete</a>
					
				{% endif %}
				
			
		{% else %}

	</div>
			

	
			<a class="btn btn-dark my-4 d-grid col-4 p-3" href="{% url 'groups:group_publish' slug=group.slug %}">Publish</a>

			
			



		
		{% endif %}
	
	{% endblock %}
	
	{% block group_content %}
	{% if group.approved_group %}
		<div class="col-md-8">
			{% if group.posts.count == 0 %}
			<h2>No posts in this group yet!</h2>
		
			{% else %}
		
		
				{% for post in group.posts.all %}
					{% include "posts/_post.html" %}
				{% endfor %}
		
		
			{% endif %}
		</div>
	{% endif %}
	
	
	{% endblock %}





